.a {
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.a-left {
  display: flex;
  align-items: center;
}

.py-5{
  display: flex;
  align-items: center;
}
